<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/article.css" />
  </head>
  <body>
    <%if(!locals.user ||!exp ){%>
      <br><br>
      <h1>NO ARTICLE FOUND</h1>
      <h2>OR PLEASE SIGNIN</h2>
    <%}else{%>

    <div class="text-center" id="preloader">
      <div class="row">
        <div class="col-sm-2">
          <div id="wave1"></div>
        </div>
      </div>
    </div>
    <section class="shares-section">
      <div>
        <a href="#" onclick="{window.print()}"><i class="fas fa-print"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"> <i class="fab fa-linkedin-in"></i></a>
      </div>
    </section>
    <section class="article-section">
      <div class="page" id="section-to-print">
        <div class="main-heading">
          <center><h1><%=exp.Company_Name%>| <%=exp.applied_role%> </h1></center>
        </div>
        <br><br>
        <!-- <div class="article-image">
          <img src="../assets/img/001.jpg" alt="" />
        </div> -->
        <div class="sub-heading">
          <h2>About Role</h2>
        </div>
        <div class="paragraph">
          <p> <b>Company applied for:</b> <i><%=exp.Company_Name%></i></p>
          <p><b>Role Applied for: </b><i><%=exp.applied_role%></i></p>
          <p><b>What was CTC: </b><i>
            <%if(locals.user){%>
              <%=exp.ctc%>
            <%}else{%>
              only for users
            <%}%>
          </i>
          </p>
        </div>
        <div class="sub-heading">
          <h2>About Aplication</h2>
        </div>
        <div class="paragraph">
          <p><b>Where did you apply from: </b> <i><%=exp.Applied_Platform%></i></p>
          <p><b>Topics to focus: </b><i><%=exp.topics_prep%></i></p>
          <p><b>How many months did you prepared: </b><i><%=exp.prep_time%></i></p>
          <p><b>Resources to Study: </b><i><%=exp.resource%></i></p>
          <p><b>Preparation Tips: </b><i><%=exp.prep_tips%></i></p>
          <p><b>Was There Any eligibilty Criteria: </b><i><%=exp.elig_cri%></i></p>
          <p><b>Any reason for getting Shortlisted: </b><i><%=exp.reason%></i></p>
          <p><b>Resume Tips: </b><i><%=exp.resume_tips%></i></p>
        </div>

        <div class="sub-heading">
          <h2>Recruitment Process</h2>
        </div>
        <div class="paragraph">
          <p><b>No.of Rounds: </b><i ><%=exp.No_of_Rounds%></i></p>
          <p><b>About Interview: </b><i style="white-space: pre-line"><br><%=exp.int_1%></i></p><br>
          <p><b>Questions Asked: </b><i style="white-space: pre-line"><br><%=exp.experience %></i></p>
          <p><b>Were you able to get the final offer: </b><i><%=exp.offer_status%></i></p>
        </div>
        <div class="sub-heading">
          <h2>Suggestions for Juniors: </h2>
        </div>
        <div class="quotation">
          <p style="white-space: pre-line"><%=exp.suggestions%></p>
        </div>

        <div class="sub-heading">
          <h2>Student Details</h2>
        </div>
        <div class="paragraph">
          
          <%if(!locals.user){%>
            <p><b>Student Name: </b> <i><%=exp.Student_Name%></i>  </p>
            <p><b>CGPA: </b> <i><%=exp.cgpa%></i></p>
            <p><b>Department: </b><i><%=exp.department%></i></p>
          <%}else{%>
            only for users
          <%}%>
        </div>

        <!-- <div class="sub-heading">
          <h2>Sub Heading</h2>
        </div>
        <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div> -->
        <!-- <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div> -->
        <!-- <div class="quotation">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error,
            reprehenderit.
          </p>
        </div> -->
        <!-- <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div> -->
        <!-- <div class="sub-heading">
          <h2>Sub Heading</h2>
        </div>
        <div class="article-image">
          <img src="../assets/img/001.jpg" alt="" />
        </div>
        <div class="paragraph">
          <p>
            <%=exp.experience%>
          </p>
        </div> -->
      </div>
    </section>

    <footer>
      <p class="copyright">Copyright &copy; group 13</p>
    </footer>

    <script src="/js/readarticles.js"></script>
    <%}%>
  </body>
</html>